<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337249880577-7ism6tl3net1f0daefuh47jqhgmnq243.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337249880577-7ism6tl3net1f0daefuh47jqhgmnq243</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>337249880577-cph5dvq818elit9hqppnesoh2qbbib0k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOSYoo9xiuKusnVmKU52TNdIxjBRK_TU0</string>
	<key>GCM_SENDER_ID</key>
	<string>337249880577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hellowo.firstflutter</string>
	<key>PROJECT_ID</key>
	<string>first-flutter-app-a3b93</string>
	<key>STORAGE_BUCKET</key>
	<string>first-flutter-app-a3b93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337249880577:ios:460d393c7f4db3c8134e00</string>
	<key>DATABASE_URL</key>
	<string>https://first-flutter-app-a3b93.firebaseio.com</string>
</dict>
</plist>